<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="comment-top">
    <h4>Bir Yorum Yapın</h4>
    <div class="comment-bottom">
        @*<form action="/Comment/PartialAddComment/"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-success="save">
                <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız Soyadınız" required="">
                <input class="form-control" type="text" name="CommentTitle" placeholder="Konu" required="">



                <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz" required=""></textarea>
                <button type="submit" class="btn btn-primary submit">Yorum Yap</button>
            </form>*@

        <form id="subscriptionForm2" action="/Comment/PartialAddComment/" method="post">
            <input class="form-control" type="hidden" name="BlogID" value=@ViewBag.i>
            <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız Soyadınız" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Konu" required="">
            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz" required=""></textarea>
            <button id="Save2" type="button" class="btn btn-primary submit">Yorum Yap</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    $('#Save2').click(function () {
        var form = $("#subscriptionForm2");
        var url = form.attr("action");
        var formData = form.serialize();
        $.post(url, formData, function (data) {

          

            if (data == null) {
                swal.fire({
                    icon: 'success',
                    title: 'Tebrikler',
                    text: 'Başarıyla bloga başarıyla yorum yaptınız.',
                    showConfirmButton: false,
                    timer: 1500
                });
                window.setTimeout(function () { window.location.reload() }, 1500);
            }
            else {

                let hatalar = "";
                //const fruits = data;
                data.forEach(myFunction);
                function myFunction(item) {
                    hatalar += "- " + item + "<br>";
                }


                swal.fire({
                    icon: 'error',
                    title: 'HATA',
                    html: hatalar,
                    //text: hatalar,
                    showConfirmButton: true,
                    //timer: 1500
                });
            }
            /*$("#msg").html(data);*/

        });
    })
    //function myFunction(item, index) {
    //    text += index + ": " + item + "<br>";
    //};
</script>

@*<script type="text/javascript">
        function save(response) {

            Swal.fire({
                icon: 'success',
                title: 'Tebrikler',
                text: 'Başarıyla bloga başarıyla yorum yaptınız.',
                showConfirmButton: false,
                timer: 1500
            });
            window.setTimeout(function () { window.location.reload() }, 1500)
            //window.location.reload();

        }
    </script>*@